<a href="https://colab.research.google.com/github/ipeirotis/introduction-to-databases/blob/master/session2/assignment_selection_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 2: Selection Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [ ]:
!apt-get install python3-mysqldb
!pip install sqlalchemy sql_magic

In [ ]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = 'mysql://{user}:{password}@{host}/{db}?charset={encoding}'.format(
    host = 'db.ipeirotis.org', 
    user = 'student',
    db = 'music',
    password = 'dwdstudent2015',
    encoding = 'utf8mb4')

engine = create_engine(conn_string)
con = engine.connect()

In [ ]:
%reload_ext sql_magic

In [ ]:
%config SQL.conn_name = 'engine'

This is an example of how you can write an SQL query in the notebook.
You write your SQL query after the `%%read_sql` line

In [ ]:
%%read_sql
SELECT * 
FROM played

## Question 1: Show all the tables that appear in the Music database

In [ ]:
%%read_sql

## Question 2: Show the attributes available for each artist

In [ ]:
%%read_sql

## Question 3: Show the attributes available for each album

In [ ]:
%%read_sql

## Question 4: Show the attributes available for each track

In [ ]:
%%read_sql

## Question 5: Show all the artists

In [ ]:
%%read_sql

## Question 6: Show all the albums

In [ ]:
%%read_sql

## Question 7: Show all the tracks

In [ ]:
%%read_sql

## Question 8: List all the names of the artists, without the artist ids, sorted alphabetically

In [ ]:
%%read_sql

## Question 9: Show all the album names and the corresponding artist id, but do not show the album_id. Rename the album_name attribute to album_title.

In [ ]:
%%read_sql

## Question 10: List the 10 shortest tracks, in terms of playing time

In [ ]:
%%read_sql